/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* Container for each job row */
.job-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.inactivity-commands-text-input {
	width: 10vw;
	min-width: 180px;
}

.inactivity-commands-plugin-job {
	flex-wrap: wrap;
}

/* Command input: take more space */
.inactivity-commands-job-command {
  flex: 2;
  min-width: 250px;
}

/* Time inputs (hours, mins): fixed width */
.inactivity-commands-job-time {
  flex: 0 0 50px;
}
